@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

html {
  background: url(https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1217&q=80)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;

  font-family: "Raleway", "Courier New", Courier, monospace;
}

/*

  STYLING FOR THE WEATHER DATA.

*/
.container-weather {
  overflow: auto;
}

.container-texts {
  color: white;
  padding-bottom: 5px;
  word-break: break-all;
}

.city-text {
  margin: 0;
  padding: 5px;
  padding-bottom: 0;
}

h3.condition-text {
  margin: 0;
  padding: 5px;
  padding-top: 0;
  padding-bottom: 0;
}

.container-numbers {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;

  color: white;
  font-weight: bolder;
}

#degrees {
  display: flex;
  margin-right: 20px;
}

#number-degrees {
  margin: 0;

  font-size: 5rem;
}

#unit-degrees {
  font-size: 1rem;
}

#details-weather {
  margin-left: 20px;
}

/*

  STYLING FOR THE SEARCH BAR.

*/
#search-bar {
  display: flex;
  align-items: center;
}

#form-bar {
  background-color: #ffffff15;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  padding: 10px;
  border-radius: 10px;
  margin-top: 100px;
}

#input-bar {
  border: none;
  border-radius: 10px;

  background-color: #ffffff00;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  color: white;

  display: block;

  width: 25rem;
  padding: 5px;
  padding-right: 0;
  margin: 0;
}

input::placeholder {
  color: white;
}

input:focus {
  outline: none;
}

#button-bar {
  background-color: transparent;
  
  border: none;
  border-radius: 10px;

  padding: 5px;
  margin:0;

  color: white;

  transition: ease-in-out 0.2s
}

#button-bar:hover {
  transform: scale(1.1);
}

/*

  MEDIA QUERIES

*/

@media only screen and (max-width: 600px) {
  #input-bar {
    width: 15rem;
  }
  @media (max-width: 300px) { 
    #input-bar {
      width: 5rem;
    }
    .container-weather {
      font-size: 75%;
    }
  }
}

@media only screen and (max-height: 600px) {
  body {
    gap: 50px;
  }
}